docs/make/blueprints/scenario-3-daily-report-gmail.json
{
  "name": "TRINCA RV21 - Relatorio diario 07h por WhatsApp",
  "metadata": {
    "instant": false,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "confidential": false,
      "dataloss": false,
      "dlq": false
    },
    "designer": {
      "orphans": []
    },
    "zone": "us1.make.com",
    "notes": [
      "Agendar para todos os dias as 07h no timezone America/Fortaleza.",
      "Busca /api/automation/dashboard e envia resumo para o WhatsApp pessoal do Ruria.",
      "Substituir __AUTOMATION_API_SECRET__, __TWILIO_ACCOUNT_SID__, __TWILIO_BASIC_AUTH_BASE64__ e __TWILIO_WHATSAPP_FROM__."
    ]
  },
  "blueprint": {
    "flow": [
      {
        "id": 1,
        "module": "builtin:BasicScheduler",
        "version": 1,
        "parameters": {
          "type": "daily",
          "time": "07:00",
          "timezone": "America/Fortaleza"
        },
        "mapper": {},
        "metadata": {
          "designer": {
            "x": 0,
            "y": 0
          }
        }
      },
      {
        "id": 2,
        "module": "http:ActionSendData",
        "version": 3,
        "parameters": {
          "handleErrors": true,
          "useNewZLibDeCompress": true
        },
        "mapper": {
          "url": "https://protocolorv.com.br/api/automation/dashboard?limit=250",
          "method": "get",
          "headers": [
            {
              "name": "Authorization",
              "value": "Bearer __AUTOMATION_API_SECRET__"
            }
          ],
          "bodyType": "raw"
        },
        "metadata": {
          "designer": {
            "x": 300,
            "y": 0
          }
        }
      },
      {
        "id": 3,
        "module": "http:ActionSendData",
        "version": 3,
        "parameters": {
          "handleErrors": true,
          "useNewZLibDeCompress": true
        },
        "mapper": {
          "url": "https://api.twilio.com/2010-04-01/Accounts/__TWILIO_ACCOUNT_SID__/Messages.json",
          "method": "post",
          "headers": [
            {
              "name": "Authorization",
              "value": "Basic __TWILIO_BASIC_AUTH_BASE64__"
            },
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "bodyType": "raw",
          "contentType": "application/x-www-form-urlencoded",
          "data": "To=whatsapp%3A%2B5584998567078&From=whatsapp%3A%2B__TWILIO_WHATSAPP_FROM__&Body=Relatorio%20TRINCA%20RV21%2007h%0A%0A{{2.body}}%0A%0ACockpit%3A%20https%3A%2F%2Fprotocolorv.com.br%2Fcockpit"
        },
        "metadata": {
          "designer": {
            "x": 600,
            "y": 0
          }
        }
      }
    ]
  }
}
